/* CSS Placeholder */

button{
    margin: 5px 5px;
}

.mat-list-item{
    color: #fff;
    padding-right: 0px;
}

.active-list-item {
    background: #555; /* Note: You could also use a custom theme */
  }

  .mat-divider{
    border-top-color: #aaa;
}

  .mat-icon{
      margin-right: 15px;
  }