/* Add Componet CSS Here */


.mainContainer {
    position: absolute;
    top: 70px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    background: #fff;
  }

  .mat-drawer{
    overflow-x: hidden;
  }

.editDrawer{
  width: 400px; 
  padding: 15px;
}

.navbar{
  background: #666;
  position: absolute;
}

button{
  bottom: 15px !important;
  position: absolute;
}