
<form #EditToDoForm="ngForm" (submit)="onEditToDo(EditToDoForm)"
class="m-2">

    <div class="input-group mb-3">
  
        <mat-card>

          <mat-form-field>
            <input 
            type="text"
            name="editInput"  
            matInput
            [ngModel]="todo?.title"
            placeholder="Edit {{routeType}} Here..."
            ngModel>
          </mat-form-field>
  
        </mat-card>
        <div>
      </div>
      </div>

      <mat-list>
        <mat-list-item> {{todo?.project}} </mat-list-item>
    </mat-list>

    <mat-form-field class="example-full-width">
      <textarea 
      matInput
      type="text"
      name="editNotes" 
      [ngModel]="todo?.notes"
      matTextareaAutosize 
      matAutosizeMinRows=3 
      matAutosizeMaxRows=5
      placeholder="Notes:"></textarea>
    </mat-form-field>
    
  <!-- Parent Selector -->
    <mat-form-field *ngIf="parentType != null" class="example-full-width">
      <input 
      type="text"
      name="parentInput"
      [(formControl)]="myControl"
      placeholder="{{placeholder}}" 
      aria-label="Assignee"
      matInput 
      [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.title}}
        </mat-option>
        
      </mat-autocomplete>
  
      
    </mat-form-field>

      <!-- Submit Button -->

    <button mat-raised-button
          class="btn btn-outline-secondary" 
          type="submit" 
          id="addToDo">Update</button>

  </form>

  <!-- [formControl]="myControl"  -->
  <!-- [ngModel]="todo?.parent" -->
  


