<!-- 
<div class="example-container mat-elevation-z8"></div> -->

<mat-spinner *ngIf="isLoading" ></mat-spinner>

  <table *ngIf="!isLoading" mat-table [dataSource]="todos" multiTemplateDataRows>

<!-- Position Column -->
<ng-container matColumnDef="position" (click)="onDelete()">
  <th mat-header-cell class="completedButton" *matHeaderCellDef> </th>
  <td mat-cell class="cell" class="cell" *matCellDef="let todos">
    <mat-checkbox
    (click)="onDelete(todos._id)">

    </mat-checkbox> </td>
</ng-container>

<!-- Title Column -->
<ng-container matColumnDef="name">
  <th mat-header-cell class="mainTask" *matHeaderCellDef> {{routeType}} </th>
  <td mat-cell class="cell" class="cell" *matCellDef="let todos">

    <span *ngIf="todos.isFocus || 
    isFocus(todos.parent);
    else notFocus" 
    matBadge="!" 
    matBadgeColor="accent" 
    matBadgeOverlap="false"
    matBadgeSize="medium">{{todos.title}} </span> 

    <ng-template #notFocus>
        {{todos.title}}
    </ng-template>

  </td>
</ng-container>

<!-- Tasks Column -->
<ng-container *ngIf="routeType != 'Todo'" matColumnDef="tasks">
  <th mat-header-cell class="mainParent" *matHeaderCellDef># of {{childType}} </th>
  <td mat-cell class="cell" *matCellDef="let todos">

     <mat-chip-list *ngIf="childArray.length > 0">
       <mat-chip>{{childArray | count: todos._id}}</mat-chip>
     </mat-chip-list>

  </td>
  
</ng-container> 

<!-- Parent Column -->
<ng-container matColumnDef="parent">
    <th mat-header-cell class="mainParent" *matHeaderCellDef> {{parentType}} </th>
    <td mat-cell class="cell" *matCellDef="let todos"> {{getParentName(todos.parent)}} </td>
  </ng-container> 


  <!-- Edit Button Column -->
<ng-container matColumnDef="edit">
    <th mat-header-cell class="editButton" *matHeaderCellDef> Edit </th>
    <td mat-cell class="cell" *matCellDef="let todos">
        <button mat-button color="primary" 
        (click)="toggleEdit(todos._id)" 
        [routerLink]="[{outlets: {sideEdit: ['edit', todos._id]}}]">
        <mat-icon>details</mat-icon>
      </button>
      
      
    </td>
  </ng-container>

// Expanded Column
<ng-container matColumnDef="expandedDetail">
  <td mat-cell class="expandedCell" *matCellDef="let todos" [attr.colspan]="displayedColumns.length">
    <div class="example-element-detail"
         [@detailExpand]="todos == expandedElement ? 'expanded' : 'collapsed'">
         
         <div *ngIf="routeType !== 'ToDo'" class="example-element-diagram">
            <div class="attachedParent">Attached {{childType}}: </div>
            <div #myVar *ngFor="let item of childArray; index as i" 
            class="example-element-position">
              <div class="attachedChildren" *ngIf="todos._id === item.parent" >
              - {{item.title}}
              </div>
            </div>
          </div>

         <div class="example-element-diagram">
          <div class="attachedParent">Attached {{parentType}}: </div>
          <div *ngIf="getParentName(todos.parent)" 
          class="example-element-position">
          - {{getParentName(todos.parent)}} </div>
        </div>

        <div class="example-element-diagram">
          <p class="attachedParent"> Notes: </p>
          <p>
            {{todos.notes}}
          </p>
        
      </div>
    </div>
  </td>
</ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<p class="info-text mat-body-1" *ngIf="todos.length <=0 && !isLoading">No {{routeType}} added yet!</p>