

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="todos">

<!-- Position Column -->
<ng-container matColumnDef="position" (click)="onDelete()">
  <th mat-header-cell class="completedButton" *matHeaderCellDef> </th>
  <td mat-cell *matCellDef="let todos">
    <mat-checkbox
    (click)="onDelete(todos._id)">

    </mat-checkbox> </td>
</ng-container>

<!-- Title Column -->
<ng-container matColumnDef="name">
  <th mat-header-cell class="mainTask" *matHeaderCellDef> {{routeType}} </th>
  <td mat-cell *matCellDef="let todos"> {{todos.title}} </td>
</ng-container>

<!-- Parent Column -->
<ng-container matColumnDef="parent">
    <th mat-header-cell class="mainParent" *matHeaderCellDef> Parent </th>
    <td mat-cell *matCellDef="let todos"> {{getParentName(todos.parent)}} </td>
  </ng-container>

  <!-- Edit Button Column -->
<ng-container matColumnDef="edit">
    <th mat-header-cell class="editBbutton" *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let todos">
        <button mat-button color="primary" 
        (click)="toggleEdit(todos._id)" 
        [routerLink]="[{outlets: {sideEdit: ['edit', todos._id]}}]">
        <mat-icon>details</mat-icon>
      </button>
      
      
    </td>
  </ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- <mat-list *ngIf="todos.length > 0">
  <h3 matSubheader>{{routeType}}</h3>
  <mat-list-item *ngFor="let item of todos">
     <mat-icon matListIcon>folder</mat-icon>
     <h4 matLine>{{item.title}}</h4>
     <p matLine class="demo-2"> {{item.notes}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 matSubheader>Parent</h3>
  <mat-list-item *ngFor="let item of todos">
     <mat-icon matListIcon>note</mat-icon>
     <h4 matLine>{{item.parent}}</h4>
     <p matLine class="demo-2"> {{item._id}} </p>
  </mat-list-item>
</mat-list> -->





<!-- <mat-accordion *ngIf="todos.length > 0">
  <mat-expansion-panel *ngFor="let item of todos">

    <mat-expansion-panel-header>
      {{item.title}}
    </mat-expansion-panel-header>

    <p>{{item.project}}</p>

    <mat-action-row>
      <button mat-button color="primary" 
      (click)="toggleEdit()" 
      [routerLink]="[{outlets: {sideEdit: ['edit', item._id]}}]"
      >Edit</button>

      <button mat-button color="warn" (click)="onDelete(item._id)" >Delete</button>
    </mat-action-row>

    
  </mat-expansion-panel>

</mat-accordion>

<div class="noDos">
<p class="mat-body-1" *ngIf="todos.length <= 0" >No {{routeType}} added yet</p>
</div> -->


