<nav class="lists-scroll">
    
        <div class="my-2">
          <button color="primary" 
          mat-raised-button 
          [disabled]="!userIsAuthenticated"
          routerLink="/month" >Monthly</button>
        </div>
  
        <div class="mb-2">
          <button color="primary" 
          mat-raised-button 
          [disabled]="!userIsAuthenticated"
          routerLink="/qtr" >QTR</button>
        </div>
        <mat-divider></mat-divider>
    <!-- </div> -->
    
    <mat-nav-list class="linkList">
        <a mat-list-item routerLink="/ToDo" 
        [style.pointer-events]="!userIsAuthenticated ? 'none' : 'auto'" 
        [style.color]="!userIsAuthenticated ? 'gray' : ''"
        routerLinkActive="active-list-item"> 
        <mat-icon>create</mat-icon></a>
  
        <mat-divider></mat-divider>
  
        <a mat-list-item routerLink="/Projects" 
        [style.pointer-events]="!userIsAuthenticated ? 'none' : 'auto'" 
        [style.color]="!userIsAuthenticated ? 'gray' : ''"
        routerLinkActive="active-list-item"> 
        <mat-icon>build</mat-icon> </a>
  
        <mat-divider></mat-divider>
  
        <a mat-list-item routerLink="/Goals"
        [style.pointer-events]="!userIsAuthenticated ? 'none' : 'auto'" 
        [style.color]="!userIsAuthenticated ? 'gray' : ''"
        routerLinkActive="active-list-item">
        <mat-icon>domain</mat-icon> </a>
  
        <a mat-list-item routerLink="/Vision" 
        [style.pointer-events]="!userIsAuthenticated ? 'none' : 'auto'" 
        [style.color]="!userIsAuthenticated ? 'gray' : ''"
        routerLinkActive="active-list-item">
        <mat-icon>landscape</mat-icon></a>
  
        <a mat-list-item routerLink="/Purpose"
        [style.pointer-events]="!userIsAuthenticated ? 'none' : 'auto'" 
        [style.color]="!userIsAuthenticated ? 'gray' : ''" 
        routerLinkActive="active-list-item">
        <mat-icon>cloud</mat-icon></a>
  
        <mat-divider></mat-divider>
  
        <a mat-list-item routerLink="/Reference"
        [style.pointer-events]="!userIsAuthenticated ? 'none' : 'auto'" 
        [style.color]="!userIsAuthenticated ? 'gray' : ''"
        routerLinkActive="active-list-item"> 
        <mat-icon>folder_open</mat-icon></a>
  
     </mat-nav-list>

     <nav>